<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% block title%}{%endblock%}
</head>

<body>
  <a href="{{ url_for('home') }}">Click to return home</a>

  {% with messages = get_flashed_messages(with_categories=True) %}
  {% if messages %}
  <div class="flash-messages">
    {% for category, message in messages %}
    <div class="flash-message {{ category }}">
      {{ message }}
    </div>
    {% endfor %}
  </div>
  {% endif %}
  {% endwith %}

  {%block content%}


  {%endblock%}
</body>

</html>